.Approvals .approval {
    padding: 10px;
    background: white;
    border: 1px solid #f3f3f3;
    margin-bottom: 10px;
    border-radius: 10px;
}


.Approvals .approval .actions a.secondary {
    color: red;
}

.approval-request-message {
    font-style: italic;
    color:teal;
}