.Approvals .approval {
    padding: 10px;
    background: white;
    border: 1px solid #f3f3f3;
    margin-bottom: 10px;
}

.Approvals .approval .actions {
    display: flex;
}

.Approvals .approval .actions a {
    margin-right: 10px;
}

.Approvals .approval .actions a.secondary {
    color: red;
}
