@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      font-size: 125%;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      font-size: 100%;
    }
}

.form-area {
  font-size: 125%;
}