
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
	font-family: "Montserrat";
	font-weight: bold;
	position: relative;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
	font-size:20px;
}

.main-nav a {
	color: #34495e;
	font-size: 20px;
}

.main-nav a:hover {
	color: #718daa;
	text-decoration: none;
}

#logo_high_five{
	text-decoration: none;
	margin-left: 10px;
	color:black;
	font-size: 50px;
	font-family: "Baloo Chettan";
}

#logo {
	padding-left: 20px;
	
}
#logo_high_five:hover{
	color:white;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #8FBC94;

}

.header_2 {
  padding-top: .25em;
	padding-bottom: .25em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-around;
}

#userDetails{
	margin-right:20px;
}

/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}