.Overview {
    padding-top: 30px;
}

.Sidebar {
    background-color: lightgrey;
    min-height: 400px;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    padding: 20px;
}

.Sidebar .Sidebar-Content {
    max-height: calc(100% - 60px);
    display: block;
    overflow-y: scroll;
}

.Overview {
    margin: 0 auto;
    max-width: 700px;
}

.Profile__Details img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.overview-container {
    margin-top: 30px;
}

.profile-table tr td {
    padding: 5px;
}