.Overview {
    padding-top: 30px;
}

.Sidebar {
    float: right;
    background-color: rgb(177, 199, 192);
    margin-right: 20px;
    height: 600px;
    width: 450px;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: -200px;
    display: flex;
    align-items: normal;
    flex-direction: column;
    padding: 20px;
}

.Sidebar .Sidebar-Content {
    max-height: calc(100% - 60px);
    display: block;
    overflow-y: scroll;
}

.Overview {
    margin: 0 auto;
    max-width: 700px;
}

.Profile__Details img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}