body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.products {
  display: block;
  box-sizing: border-box;
 
  margin: 0 auto;
  padding: 0 9px;
  size: 200px;
  max-width: 860px;
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-around;
} 

a.myCart {
  display: block;
  float: right;
  margin-right: 15px;
  text-decoration: none;
  color: #34495e;
  font-weight: bold;
}
a.myCart:hover {
  text-decoration: none;
  color:orange;
}
.cart-message {
  text-align: right;
}
.cart-message-row {
  margin-bottom:0px;
}
.products-index {
  margin-top: 10px;
}
.product {
    flex:      1;
    max-width: 260px;
    position:  relative;
    background-color: lightgrey;
    

    border:        1px solid lightgrey;
    border-radius: 5px;
    padding:       15px;
    margin-top:    20px;
    margin:        10px;
}
    header img {
      max-width: 100%;
      max-height: 140px;
      margin: auto;
      display: block;
    }

.description {
  font-size: 12px;
  min-height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}

.price {
  font-weight: bold;
  margin-bottom: 0px;
}

.product-heading { 
  text-align: center;
}