body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.products {

  display: block;
  box-sizing: border-box;
 
  margin: 0 auto;
  padding: 0 9px;
  size: 200px;
  max-width: 860px;
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-around;
} 

.myCart {
  display: block;
  float: right;
  margin-right: 15px;
}
.product {
    flex:      1;
    max-width: 260px;
    position:  relative;
    background-color: #C5E99B;
    

    border:        1px solid rgb(20, 9, 9);
    border-radius: 5px;
    padding:       15px;
    margin-top:    20px;
    margin:        10px;
    min-height:    418px;
}
    header img {
      max-width: 100%;
      max-height: 140px;
      margin: auto;
      display: block;
    }
