
.recognize-form {
    margin-top:30px;
}
.step-buttons { 
    float: right;
}

.step-container {
    margin-top:40px;
    
    
}
.select-recipient-step,
.select-level-step,
.message-step,
.review-confirm-step
 {
    padding: 10px;
    
    color: white;
    font-weight: bold;
    
    text-align: center;
    
}

#recognize-title{
    border: 0.75px solid gray;
    border-radius: 10px;
    background-color: #8FBC94;
}


.select-recipient-step {
    border-right: 0.5px solid gray;
}

.select-level-step {
    border-right: 0.5px solid gray;
}
.message-step {
    border-right: 0.5px solid gray;
}

.step-previous-button { 
    margin-right: 15px;
}