.cartButton {
    display: inline;
    margin-left:10px;
    margin-right:10px;
}
.continue-redeem{
    margin: 30px;
}

.pay-points{
    margin-top: 20px;
} 

.add-to-cart-button {
    min-width: 200;
}